.navbar {
    position: fixed;
    top: 0 ;
    width: 100%;
    z-index: 1000;
}

@media screen and (max-width: 767px) {
    .navbar-dark {
        background-color: #343a40 !important;
        cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Infinity_Gauntlet_Cursor.png), default !important;
    }

    .dropdown-menu {
        width: 100%;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .dropdown-menu a,
    .dropdown-menu button {
        font-size: 1.2rem;
        padding: 0.5rem 0;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-dark {
        background-color: #343a40 !important;
        cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Infinity_Gauntlet_Cursor.png), default !important;
    }

    .dropdown-menu {
        width: 200px;
    }

    .dropdown-menu a,
    .dropdown-menu button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-dark {
        background-color: #343a40 !important;
        cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Infinity_Gauntlet_Cursor.png), default !important;
    }

    .dropdown-menu {
        width: 250px;
    }

    .dropdown-menu a,
    .dropdown-menu button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .navbar-dark {
        background-color: #343a40 !important;
        cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Infinity_Gauntlet_Cursor.png), default !important;
    }

    .dropdown-menu {
        width: 300px;
    }

    .dropdown-menu a,
    .dropdown-menu button {
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
    }
}

/* Media Queries */

/* Para dispositivos con una resolución menor a 1000px */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    .nav-item {
        margin-left: 0 !important;
    }

    .navbar-toggler {
        order: 2 !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .collapse {
        display: none !important;
        background-color: #444 !important;
        padding: 1rem !important;
        width: 100% !important;
        text-align: center !important;
    }

    .collapsed {
        display: block !important;
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem !important;
    }
}

/* Para tabletas en orientación vertical */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .nav-item {
        margin-left: 0.5rem !important;
    }

    .nav-link {
        font-size: 1rem !important;
    }
}

/* Para tabletas en orientación horizontal */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-brand {
        font-size: 1.8rem !important;
    }

    .nav-item {
        margin-left: 1.5rem !important;
    }

    .nav-link {
        font-size: 1.1rem !important;
    }
}

/* Para dispositivos con una resolución menor a 500px */
@media (max-width: 500px) {
    .navbar {
        padding: 0.5rem !important;
    }

    .navbar-brand {
        font-size: 1.2rem !important;
        margin-right: 0.5rem !important;
    }

    .navbar-toggler {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .nav-item {
        margin-left: 0.2rem !important;
    }

    .nav-link {
        font-size: 0.9rem !important;
        margin-right: 0.5rem !important;
    }
}

/* Para dispositivos con una resolución menor a 1000px */
@media (max-width: 1000px) {
    .search-click {
      width: 70%;
      max-width: 300px;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    
    .search-click input {
      width: 100%;
    }
  }
  
  /* Para tabletas y dispositivos móviles en orientación vertical */
  @media (max-width: 768px) {
    .search-click {
      width: 60%;
      max-width: 250px;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      height: 40px;
      background-size: 18px;
      background-position: 10px;
      border-radius: 15px;
      padding-left: 40px;
    }
    
    .search-click input {
      font-size: 0.8rem;
    }
  }
  
  /* Para dispositivos móviles en orientación horizontal y tabletas en orientación vertical */
  @media (min-width: 769px) and (max-width: 1024px) {
    .search-click {
      width: 70%;
      max-width: 300px;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    
    .search-click input {
      font-size: 0.9rem;
    }
  }
  
  /* Para dispositivos con una resolución menor a 500px */
  @media (max-width: 500px) {
    .search-click {
      width: 60%;
      max-width: 200px;
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      height: 30px;
      background-size: 16px;
      background-position: 8px;
      border-radius: 10px;
      padding-left: 30px;
    }
    
    .search-click input {
      font-size: 0.7rem;
    }
  }
  