.menu_botones {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    font-size: 25px !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
}