/* Style the Image Used to Trigger the Modal */
#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#avatarUser {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

#avatar:hover {
  opacity: 0.7;
}

#avatarUser:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */

}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 25%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.searchFieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* margin: 10px; */
  width: 100%;
  height: 100%;
}

.tips-search {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.info-search {
  /* //up in fielset */
  margin-top: -30px;
  /* margin-bottom: 1px; */
  text-align: center;
}

.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 0px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  padding-left: 50px;
  position: relative;
  cursor: text;
  background: url("../img/search.svg") no-repeat 14px 12px;
  background-size: 24px;
  background-color: whitesmoke;
}

/* .search-click:focus {
  width: 300px;
  padding-left: 50px;
} */

.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}

.search-click-label {
  position: relative;
}

.search-click-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
}

.selected {
  color: blue;
  background-color: grey;
}

#suggestions {
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  height: 50px;
}

#suggestions div {
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #eee;
}